<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<body>
<div th:fragment="navbar">
    <ul id="navul" class="nav navbar-nav side-nav">
        <li><a href="index"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="orderhis"><i class="fa fa-bar-chart-o"></i> 历史轨迹查询</a></li>
        <li><a href="tables.html"><i class="fa fa-table"></i> 热力图</a></li>
        <li><a href="typography.html"><i class="fa fa-font"></i> 车辆运营与用户统计</a></li>
        <li><a href="bootstrap-elements.html"><i class="fa fa-desktop"></i> 用户出行量预测</a></li>
        <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i> 调度建议</a></li>
        <li><a href="setting"><i class="fa fa-gear"></i> 设置</a></li>
    </ul>
</div>
</body>
</html>