<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<body>
<div th:fragment="navbar">
    <ul id="navul" class="nav navbar-nav side-nav">
        <li><a href="index"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="orderhis"><i class="fa fa-bar-chart-o"></i> 历史轨迹查询</a></li>
        <li><a href="thermodynamic"><i class="fa fa-table"></i> 热力图</a></li>
        <li><a href="count"><i class="fa fa-font"></i> 车辆运营与用户统计</a></li>
        <li><a href="predict"><i class="fa fa-desktop"></i> 用户出行量预测</a></li>
        <li><a href="setting"><i class="fa fa-gear"></i> 设置</a></li>
    </ul>
    <script>
    	var serverurl = "192.168.1.100";
    	var hosturl = "192.168.1.101";
    </script>
</div>
</body>
</html>