<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>热力图</title>
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css" rel="stylesheet" />
    <link th:href="@{/css/sb-admin.css}" href="../static/css/sb-admin.css" rel="stylesheet" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lHx4zGMQYD0KbWKsXHtA1XQBtsn9gruX"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
	<script>
		var dispart;
		function search(){
	        $.ajax({
	            type:"GET",
	            url:"http://192.168.1.101:8080/api/time",
	            dataType:"text",
	            success:function(data){
	            	console.log(data);
	            	dispart = parseInt((new Date()).getTime()/1000) - parseInt(data);
	            	getcount();
	            },
	            error:function(jqXHR){
	                console.log("Error: "+jqXHR.status);
	            }
	        });
	    }
		search();
	</script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">网约车分析管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div th:replace="../templates/common::navbar"></div>

                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown" style="margin-right:20px">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;管理员
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="background-color:#222222">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> 设置</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/logout}"><i class="fa fa-power-off"></i>&nbsp;登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">

            <div>
            	<div class="panel panel-primary">
                	<div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money"></i>实时流量监控</h3>
                    </div>
                    <div class="panel-body">
                    	<div id="main" style="width: 100%;height:400px;"></div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-money"></i>新增司机</h3>
                        </div>
                        <p id="driver" style="font-size:40px;text-align:center">123</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-money"></i>今日完成订单</h3>
                        </div>
                        <p id="done" style="font-size:40px;text-align:center">123</p>	
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-money"></i>正在进行订单</h3>
                        </div>
                        <p id="doing" style="font-size:40px;text-align:center">123</p>
                    </div>
                </div>
            </div><!-- /.row -->
            </div><!-- /.row -->
        </div>
    </div>
    <script>
        function search(){
            driverid = $("#driverid")[0].value;
            $.ajax({
                type:"GET",
                url:"http://"+hosturl+":8080/api/orderInfo?id="+driverid,
                dataType:"json",
                success:function(data){
                    $("#ordertable tr:not(:first)").empty("");
                    for(tmp in data['order']){
                        info = data['order'][tmp];
                        var trHTML = "<tr><td>"+info[0]+"</td><td><a onclick='findposition(this.text)'>"+info[1]+"</a></td><td>"+Conversiontime(parseInt(info[2])*1000)+"</td><td>"+info[3]+"</td><td><a onclick='findposition($(this).parent().prevAll()[2].children[0].innerText)'>显示</a>/<a onclick='removePosition($(this).parent().prevAll()[2].children[0].innerText)'>隐藏</a></td></tr>";
                        $("#ordertable tr:eq(0)").after(trHTML);
                    }
                },
                error:function(jqXHR){
                    console.log("Error: "+jqXHR.status);
                }
            });
        }
        var polylines = {};
        function findposition(orderid){
            if(polylines[orderid]!=undefined)
            	return;
        	$.ajax({
                type:"GET",
                url:"http://"+hosturl+":8080/api/positionInfo?id="+orderid,
                dataType:"json",
                success:function(data){
                    var pois = [];
                    for(tmp in data['position']){
                        info = data['position'][tmp];
                        pois.push(new BMap.Point(info[0],info[1]));
                    }
                    var polyline = new BMap.Polyline(pois, {
	                    enableEditing: false,//是否启用线编辑，默认为false
	                    enableClicking: true,//是否响应点击事件，默认为true
	                    strokeWeight:'8',//折线的宽度，以像素为单位
	                    strokeOpacity: 0.8,//折线的透明度，取值范围0 - 1
	                    strokeColor:"#18a45b" //折线颜色
                    });
                    polylines[orderid] = polyline;
                    map.addOverlay(polyline);          //增加折线
                },
                error:function(jqXHR){
                    console.log("Error: "+jqXHR.status);
                }
            });
        }
        function removePosition(orderid){
        	if(polylines[orderid]!=undefined){
        		map.removeOverlay(polylines[orderid]);
        		delete polylines[orderid];
        	}
        }
        function Conversiontime(timestamp) {
        	var date = new Date(timestamp);
            Y = date.getFullYear() + '-';
            M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            D = (date.getDate()<10?'0'+(date.getDate()):date.getDate()) + ' ';
            h = (date.getHours()<10?'0'+(date.getHours()):date.getHours()) + ':';
            m = (date.getMinutes()<10?'0'+(date.getMinutes()):date.getMinutes())+':';
            s = (date.getSeconds()<10?'0'+(date.getSeconds()):date.getSeconds());
            return Y+M+D+h+m+s;
        }
        function transformTime(timestamp = +new Date()) {
            if (timestamp) {
                var time = new Date(timestamp);
                var y = time.getFullYear(); //getFullYear方法以四位数字返回年份
                var M = time.getMonth() + 1; // getMonth方法从 Date 对象返回月份 (0 ~ 11)，返回结果需要手动加一
                var d = time.getDate(); // getDate方法从 Date 对象返回一个月中的某一天 (1 ~ 31)
                var h = time.getHours(); // getHours方法返回 Date 对象的小时 (0 ~ 23)
                var m = time.getMinutes(); // getMinutes方法返回 Date 对象的分钟 (0 ~ 59)
                var s = time.getSeconds(); // getSeconds方法返回 Date 对象的秒数 (0 ~ 59)
                return y + '-' + M + '-' + d + ' ' + h + ':' + m + ':' + s;
              } else {
                  return '';
              }
        }
    </script>
    <script>
                    var myChart = echarts.init(document.getElementById('main'));

                    // 指定图表的配置项和数据
                    var option = {
                   	    xAxis: {
                   	        type: 'category',
                   	        boundaryGap: false,
                   	        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                   	    },
                   	    yAxis: {
                   	        type: 'value'
                   	    },
                   	    series: [{
                   	        data: [820, 932, 901, 934, 1290, 1330, 1320],
                   	        type: 'line',
                   	        areaStyle: {}
                   	    }]
                   	};

					
                    // 使用刚指定的配置项和数据显示图表。
                    //myChart.setOption(option);
                    
                    function getcount(){
                    	var stoptime = parseInt((new Date()).getTime()/1000) - dispart;
                    	var starttime = stoptime - 6000;
            	        $.ajax({
            	            type:"GET",
            	            url:"http://192.168.1.101:8080/api/scancount?start="+starttime+"&stop="+stoptime,
            	            dataType:"json",
            	            success:function(data){
            	            	console.log(data);
            	            	countdata = data["count"];
            	            	countdatatime = [];
            	            	countdatavalue = [];
            	            	for(tmp in countdata){
            	            		countdatatime.push(transformTime(countdata[tmp][0]*600*1000));
            	            		countdatavalue.push(countdata[tmp][1]);
            	            	}
            	            	for(i=0;i<countdatatime.length;i++){
            	            		var min = i;
            	            		for(j=i;j<countdatatime.length;j++){
            	            			if(countdatatime[j]<countdatatime[min]){
            	            				min = j;
            	            			}
            	            		}
            	            		tmp = countdatatime[i];
            	            		countdatatime[i] = countdatatime[min];
            	            		countdatatime[min]= tmp;
            	            		tmp = countdatavalue[i];
            	            		countdatavalue[i] = countdatavalue[min];
            	            		countdatavalue[min] = tmp;
            	            	}
            	            	option["xAxis"]["data"] = countdatatime;
            	            	option["series"][0]["data"] = countdatavalue;
            	            	console.log(123123);
            	            	console.log(option);
            	            	myChart.clear();
            	            	myChart.setOption(option);
            	            },
            	            error:function(jqXHR){
            	                console.log("Error: "+jqXHR.status);
            	            }
            	        });
            	    }
                    function getcountnew(){
                    	var time = parseInt((new Date()).getTime()/1000) - dispart;
            	        $.ajax({
            	            type:"GET",
            	            url:"http://192.168.1.101:8080/api/getcount?time="+time,
            	            dataType:"json",
            	            success:function(data){
            	            	console.log(data);
            	            	$("#driver")[0].innerText=data["newdriver"];
            	            	$("#done")[0].innerText=data["done"];
            	            	$("#doing")[0].innerText=data["doing"];
            	            },
            	            error:function(jqXHR){
            	                console.log("Error: "+jqXHR.status);
            	            }
            	        });
            	    }
                    setInterval(getcountnew,5000);
                    </script>
</body>

</html>