<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%;width:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>地图</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=*****"></script>
</head>
<body style="height:100%;width:100%">
    <div id="allmap" style="height:100%;width:100%"></div>
</body>
</html>
<script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap",{minZoom:15});    // 创建Map实例           
	map.centerAndZoom("成都",13);
	//添加地图类型控件
	map.addControl(new BMap.MapTypeControl({
		mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));	  
	map.setCurrentCity("成都");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    var positionlist = [];
	function all(){
		map.clearOverlays()
		var points = [];  // 添加海量点数据
        for (var i = 0; positionlist.length; i++) {
          strs = positionlist[i].split(":");
          points.push(new BMap.Point(
              parseFloat(strs[0]),
              parseFloat(strs[1])
          ));
        }
        var options = {
            size: BMAP_POINT_SIZE_SMALL,
            shape: BMAP_POINT_SHAPE_STAR,
            color: '#d340c3'
        }
        var pointCollection = new BMap.PointCollection(points, options);
		map.addOverlay(pointCollection);
	}
	//setInterval(all,5000);
    function getPosition(){
        $.ajax({
            type:"GET",
            url:"http://10.54.135.233:8080/api/position",
            dataType:"json",
            success:function(data){
            	console.log(data);
            	positionlist = data;
                map.clearOverlays()
                points = [];  // 添加海量点数据
                for (var i = 0; i<positionlist.position.length; i++) {
                    strs = positionlist.position[i].split(":");
                    points.push(new BMap.Point(
                        parseFloat(strs[0]),
                        parseFloat(strs[1])
                    ));
                }
                var options = {
                    size: BMAP_POINT_SIZE_BIG,
                    shape: BMAP_POINT_SHAPE_STAR,
                    color: '#d340c3'
                }
                pointCollection = new BMap.PointCollection(points, options);
                map.addOverlay(pointCollection);
            }
        });
    }
    setInterval(getPosition,5000);
</script>
