<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%;width:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>地图</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=*****"></script>
</head>
<body style="height:100%;width:100%">
    <div id="allmap" style="height:100%;width:100%"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例           
	map.centerAndZoom("成都",13);
	//添加地图类型控件
	map.addControl(new BMap.MapTypeControl({
		mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));	  
	map.setCurrentCity("成都");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
	
	var pt = new BMap.Point(116.417, 39.909);
	var myIcon = new BMap.Icon("../static/image/car.jpg", new BMap.Size(28,18));
	var marker2 = new BMap.Marker(pt,{icon:myIcon});
	map.addOverlay(marker2);
</script>
