<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>历史轨迹查询</title>
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css" rel="stylesheet" />
    <link th:href="@{/css/sb-admin.css}" href="../static/css/sb-admin.css" rel="stylesheet" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lHx4zGMQYD0KbWKsXHtA1XQBtsn9gruX"></script>
    <style>
		.BMapLabel{ max-width:none; }
	</style>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#337ab7">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index" style="color:#ffffff">网约车分析管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div th:replace="../templates/common::navbar"></div>
				<div th:replace="../templates/common::header"></div>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <div id="allmap" class="map" style="width: 100%;height: 800px">
                    </div>
                </div>
                <script type="text/javascript">
                var map = new BMap.Map("allmap",{minZoom:1});    // 创建Map实例           
                map.centerAndZoom(new BMap.Point(104.0862075, 30.68233750), 13);
                //添加地图类型控件
                map.addControl(new BMap.MapTypeControl({
                    mapTypes:[
                        BMAP_NORMAL_MAP
                        //,BMAP_HYBRID_MAP
                    ]}));	   
                map.addControl(new BMap.NavigationControl()); 
                </script>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money"></i>历史轨迹查询</h3>
                            </div>
                            <div class="panel-body">
                            	<div class="panel-title" style="display:inline">
                                    <div class="row">
	                                    <div class="col-lg-8">
	                                    	<input type="text" class="form-control" id="driverid" placeholder="请输入司机ID">
	                                    </div>
	                                    <div class="col-lg-1">
		                                    <select id="searchtype" class="form-control" style="display:none">
												<option>手机</option>
												<option>ID</option>
											</select>
										</div>
	                                    <div class="col-lg-3">
	                                    	<button type="submit" class="btn btn-default" onclick="search()">查询</button>
	                                    </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="table-responsive">
                                    <table id="ordertable" class="table table-bordered table-hover table-striped tablesorter">
                                        <thead>
                                            <tr>
                                                <th class="header">司机姓名<i class="fa"></i></th>
                                                <th class="header">司机电话<i class="fa"></i></th>
                                                <th class="header">司机ID<i class="fa"></i></th>
                                                <th class="header">订单ID<i class="fa"></i></th>
                                                <th class="header">开始时间<i class="fa"></i></th>
                                                <th class="header">订单状态<i class="fa"></i></th>
                                                <th class="header">操作<i class="fa"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="Page navigation" style="background:#ffffff">
								  <ul id="page" class="pagination">
								    <li>
								      <a onclick="prepage()" aria-label="Previous">
								        <span aria-hidden="true">&laquo;</span>
								      </a>
								    </li>
								    <li>
								      <a onclick="nextpage()" aria-label="Next">
								        <span aria-hidden="true">&raquo;</span>
								      </a>
								    </li>
								  </ul>
								</nav>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.row -->

        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script>
    	$("#li_history")[0].className = "active";
    	historydata = [];
        function search(){
        	searchtype = $("#searchtype option:selected").text();
        	stype = "";
        	if(searchtype=="ID"){
        		stype = "id";
        	}else{
        		stype = "phone";
        	}
            driverid = $("#driverid")[0].value;
            $.ajax({
                type:"GET",
                url:"http://"+hosturl+":8080/api/orderInfo?id="+driverid+"&type="+stype,
                dataType:"json",
                success:function(data){
                	nowpage=1;
                    $("#ordertable tr:not(:first)").empty("");
                    historydata = data['order'];
                    pagelength = Math.ceil(historydata.length/20);
                    data['order'].sort(sortbytime);
                    for(tmp in data['order']){
                    	if(tmp >= 20) break;
                        info = data['order'][tmp];
                        var trHTML = "<tr><td>"+data['name']+"</td><td>"+data['phone']+"</td><td>"+info[0]+"</td><td><a onclick='findposition(this.text)'>"+info[1]+"</a></td><td>"+Conversiontime(parseInt(info[2])*1000)+"</td><td>"+(info[3]==2?"已完成":"进行中")+"</td><td><a onclick='findposition($(this).parent().prevAll()[2].children[0].innerText)'>显示</a>/<a onclick='removePosition($(this).parent().prevAll()[2].children[0].innerText)'>隐藏</a></td></tr>";
                        $("#ordertable tr:eq(0)").after(trHTML);
                    }
                    $("#page")[0].innerHTML = '<li><a onclick="prepage()" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li><li><a onclick="nextpage()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>'
                    for(i=pagelength;i>0;i--){
						$($("#page")[0].children[0]).after("<li><a onclick=\"changepage(this)\">"+i+"</a></li>")
                    };
                },
                error:function(jqXHR){
                    console.log("Error: "+jqXHR.status);
                }
            });
        }
        function sortbytime(a,b){
        	return parseInt(a[2]) - parseInt(b[2]);
        }
        var polylines = {};
        function addMarker(point,label){
    		var marker = new BMap.Marker(point);
    		map.addOverlay(marker);
    		marker.setLabel(label);
    	}
        function findposition(orderid){
            if(polylines[orderid]!=undefined)
            	return;
        	$.ajax({
                type:"GET",
                url:"http://"+hosturl+":8080/api/positionInfo?id="+orderid,
                dataType:"json",
                success:function(data){
                    var pois = [];
                    for(tmp in data['position']){
                        info = data['position'][tmp];
                        pois.push(new BMap.Point(info[0],info[1]));
                    }
                    var polyline = new BMap.Polyline(pois, {
	                    enableEditing: false,//是否启用线编辑，默认为false
	                    enableClicking: true,//是否响应点击事件，默认为true
	                    strokeWeight:'8',//折线的宽度，以像素为单位
	                    strokeOpacity: 0.8,//折线的透明度，取值范围0 - 1
	                    strokeColor:"#18a45b" //折线颜色
                    });
                    polylines[orderid] = polyline;
                    var point = new BMap.Point(data['position'][0][0],data['position'][0][1]);
            		var label = new BMap.Label("起点："+orderid,{offset:new BMap.Size(20,-10)});
            		addMarker(point,label);
            		leng_index = data['position']['length'] - 1;
            		point = new BMap.Point(data['position'][leng_index][0],data['position'][leng_index][1]);
            		label = new BMap.Label("终点："+orderid,{offset:new BMap.Size(20,-10)});
            		addMarker(point,label);
                    map.addOverlay(polyline);          //增加折线
                },
                error:function(jqXHR){
                    console.log("Error: "+jqXHR.status);
                }
            });
        }
        function removePosition(orderid){
        	var allOverlay = map.getOverlays();
        	if(polylines[orderid]!=undefined){
        		map.removeOverlay(polylines[orderid]);
        		delete polylines[orderid];
        	}
        	for (var i = 0; i < allOverlay.length -1; i++){
        		str1 = "终点："+orderid;
        		if(allOverlay[i].getLabel==undefined||allOverlay[i].getLabel()==null){
        			continue;
        		}
    			if(allOverlay[i].getLabel().content == str1){
    				map.removeOverlay(allOverlay[i]);
    				break;
    			}
    		}
        	for (var i = 0; i < allOverlay.length -1; i++){
        		str1 = "起点："+orderid;
        		if(allOverlay[i].getLabel==undefined||allOverlay[i].getLabel()==null){
        			continue;
        		}
    			if(allOverlay[i].getLabel().content == str1){
    				map.removeOverlay(allOverlay[i]);
    				break;
    			}
    		}
        }
        function Conversiontime(timestamp) {
        	var date = new Date(timestamp);
            Y = date.getFullYear() + '-';
            M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            D = (date.getDate()<10?'0'+(date.getDate()):date.getDate()) + ' ';
            h = (date.getHours()<10?'0'+(date.getHours()):date.getHours()) + ':';
            m = (date.getMinutes()<10?'0'+(date.getMinutes()):date.getMinutes())+':';
            s = (date.getSeconds()<10?'0'+(date.getSeconds()):date.getSeconds());
            return Y+M+D+h+m+s;
        }
        nowpage = 1;
        function changepage(pageinfo){
        	if(typeof pageinfo === "number"){
    			nowpage = pageinfo;    		
        	}else{
	        	nowpage = parseInt(pageinfo.innerText);
        	}
            $("#ordertable tr:not(:first)").empty("");
        	for(i=(nowpage-1)*20;i<nowpage*20;i++){
        		info = historydata[i];
                var trHTML = "<tr><td>"+info[0]+"</td><td><a onclick='findposition(this.text)'>"+info[1]+"</a></td><td>"+Conversiontime(parseInt(info[2])*1000)+"</td><td>"+(info[3]==2?"已完成":"进行中")+"</td><td><a onclick='findposition($(this).parent().prevAll()[2].children[0].innerText)'>显示</a>/<a onclick='removePosition($(this).parent().prevAll()[2].children[0].innerText)'>隐藏</a></td></tr>";
                $("#ordertable tr:eq(0)").after(trHTML);
        	}
        }
        function nextpage(){
        	if(nowpage<pagelength) changepage(nowpage+1);
        }
        function prepage(){
        	if(nowpage>1) changepage(nowpage-1);
        }
    </script>
    <script th:inline="javascript">
	var name= [[${name}]];
	var auth= [[${auth}]];
	if(auth==="driver"){
		$("#driverid")[0].value = name;
		$("#driverid")[0].disabled = true
	}
    </script>
</body>

</html>