<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>主页</title>
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css" rel="stylesheet" />
    <link th:href="@{/css/sb-admin.css}" href="../static/css/sb-admin.css" rel="stylesheet" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lHx4zGMQYD0KbWKsXHtA1XQBtsn9gruX"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#337ab7">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index" style="color:#ffffff">网约车分析管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div th:replace="../templates/common::navbar"></div>
                <div th:replace="../templates/common::header"></div>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
	                <div class="panel panel-primary">
	                     <div class="panel-heading">
	                         <h3 class="panel-title"><i class="fa fa-money"></i>设置</h3>
	                     </div>
	                     <div class="panel-body">
	                         <div class="table-responsive">
	                             <table class="table table-bordered table-hover table-striped tablesorter" >
	                                 <form id="registerform" class="form-signin" th:action="@{/api/adduser}" method="GET">
					                    <label for="inputPassword" class="sr-only">Password</label>
					                    <input type="password" id="inputPassword" class="form-control" placeholder="新密码" required="" name="password">
					                    <br/><label for="inputPassword" class="sr-only">Password</label>
					                    <input type="password" id="inputPasswordagain" class="form-control" placeholder="新密码确认" required="">
					                    <input name="role" value="admin" style="display:none">
					                    <br />
					                    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="saveReport();return false;">修改密码</button>
					                </form>
	                             </table>
	                         </div>
	                     </div>
	                 </div>
                </div><!-- /.row -->
            </div><!-- /.row -->
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script>$("#li_setting")[0].className="active";</script>
    <script>
        function xiugai(value){
        	$(value).parent().hide();
        	$(value).parent().next().show();
        	$(value).parent().parent().prevAll()[1].children[0].disabled = false;
        	$(value).parent().parent().prevAll()[1].children[0].valuepassword = $(value).parent().parent().prevAll()[1].children[0].value;
        	$(value).parent().parent().prevAll()[1].children[0].value = "";
        }
        function deleteuser(value){
        	email = $(value).parent().parent().prevAll()[2].innerText;
        	var mymessage=confirm("确认要删除"+email+"吗？");
        	if(mymessage==true)
        	{
        		$.ajax({
                    type:"GET",
                    url:"http://"+hosturl+":8080/api/deleteuser?email="+email,
                    success:function(data){
                    	alert("已删除");
                    	$(value).parent().parent().parent().empty();
                    },
                    error:function(jqXHR){
                    	alert("删除失败，请重试");
                    }
                });
        	}
        };
        function queren(value){
        	
        	email = $(value).parent().parent().prevAll()[2].innerText;
        	password = $(value).parent().parent().prevAll()[1].children[0].value;
        	$.ajax({
                type:"GET",
                url:"http://"+hosturl+":8080/api/changepassword?email="+email+"&password="+password,
                success:function(data){
                	alert("修改成功");
                	$(value).parent().hide();
            		$(value).parent().prev().show();
                	$(value).parent().parent().prevAll()[1].children[0].value = data;
                	$(value).parent().parent().prevAll()[1].children[0].disabled = true;
                },
                error:function(jqXHR){
                	alert("修改失败，请重试");
                	$(value).parent().parent().prevAll()[1].children[0].value = $(value).parent().parent().prevAll()[1].children[0].valuepassword;
                	$(value).parent().parent().prevAll()[1].children[0].disabled = true;
                }
            });
        };
        function quxiao(value){
        	$(value).parent().hide();
        	$(value).parent().prev().show();
        	$(value).parent().parent().prevAll()[1].children[0].value = $(value).parent().parent().prevAll()[1].children[0].valuepassword;
        	$(value).parent().parent().prevAll()[1].children[0].disabled = true;
        };
        function adduserView(){
        	$("table").append("<tr><td><input type='email'></td><td><input type='password'></td><td><input type=\"radio\" name=\"auth\" value=\"admin\" checked>admin<input type=\"radio\" name=\"auth\" value=\"driver\" checked>driver</td><td><a onclick=\"adduser(this)\">新增</a>/<a onclick=\"canceradduser(this)\">取消</a></td></tr>");
        }
        function adduser(value){
        	if(($(value).parent().prevAll()[2]).children[0].checkValidity() || true){
        		var password = ($(value).parent().prevAll()[1]).children[0].value;
        		var email = ($(value).parent().prevAll()[2]).children[0].value;
        		var role = $(value).parent().prevAll()[0].children.auth.checked;
        		if(role){
        			role = "admin";
        		}else{
        			role = "driver";
        		}
        		$.ajax({
                    type:"GET",
                    url:"http://"+hosturl+":8080/api/adduser?email="+email+"&password="+password+"&role="+role,
                    success:function(data){
                    	alert("新增成功");
                    	tr=$(value).parent().parent()[0];
                    	tr.children[0].innerHTML = "<td>"+email+"</td>";
                    	tr.children[1].innerHTML = "<td><input type='password' value='"+data+"' disabled></td>";
                    	tr.children[2].innerHTML = "<td>"+role+"</td>";
                    	tr.children[3].innerHTML = "<div><a onclick='xiugai(this)'>修改</a>/<a onclick='deleteuser(this)'>删除</a></div>";
                    },
                    error:function(jqXHR){
                    	alert("新增失败，请重试");
                    }
                });
        	}
        	
        }
        function canceradduser(value){
        	$(value).parent().parent().empty();
        }
    </script>
</body>

</html>