<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>热力图</title>
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css" rel="stylesheet" />
    <link th:href="@{/css/sb-admin.css}" href="../static/css/sb-admin.css" rel="stylesheet" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lHx4zGMQYD0KbWKsXHtA1XQBtsn9gruX"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">网约车分析管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div th:replace="../templates/common::navbar"></div>

                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown" style="margin-right:20px">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;管理员
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="background-color:#222222">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> 设置</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/logout}"><i class="fa fa-power-off"></i>&nbsp;登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <div id="allmap" class="map" style="width: 100%;height: 800px">
                    </div>
                </div>
                <script type="text/javascript">
                var map = new BMap.Map("allmap",{minZoom:1});    // 创建Map实例           
                map.centerAndZoom("成都",13);
                //添加地图类型控件
                map.addControl(new BMap.MapTypeControl({
                    mapTypes:[
                        BMAP_NORMAL_MAP
                        //,BMAP_HYBRID_MAP
                    ]}));	   
                map.addControl(new BMap.NavigationControl()); 
                </script>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money"></i>实时监控车辆</h3>
                            </div>
                            <div class="panel-body">
                            	<div class="panel-title" style="display:inline">
                                    <div class="row">
	                                    <div class="col-lg-6">
	                                    	<input id="starttime" type="datetime-local" value="2016-10-01T16:30:00"/>
	                                    	-
	                                    	<input id="stoptime" type="datetime-local" value="2016-10-01T17:30:00"/>
	                                    </div>
	                                    <div class="col-lg-3">
	                                    	<button type="submit" class="btn btn-default" onclick="search()">查询起点热力图</button>
	                                    </div>
	                                    <div class="col-lg-3">
	                                    	<button type="submit" class="btn btn-default" onclick="search()">查询终点热力图</button>
	                                    </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.row -->

        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script>
        function search(){
        	starttime = Date.parse($("#starttime")[0].value)/1000;
        	stoptime = Date.parse($("#stoptime")[0].value)/1000;
        	console.log(starttime);
        	console.log(stoptime);
            $.ajax({
                type:"GET",
                url:"http://"+hosturl+":8080/api/thermodynamic?start="+starttime+"&stop="+stoptime,
                dataType:"json",
                success:function(data){
                    var points = [];
                 	var mydata = data["thermodynamic"];
                 	for(tmp in mydata){
                 		console.log(mydata[tmp]);
                 		points.push({"lng":mydata[tmp][2],"lat":mydata[tmp][1],"count":mydata[tmp][0]});
                 	}
                 	heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":20});
                	map.addOverlay(heatmapOverlay);
                	heatmapOverlay.setDataSet({data:points,max:4000});
                },
                error:function(jqXHR){
                    console.log("Error: "+jqXHR.status);
                }
            });
        }
        
        function Conversiontime(timestamp) {
        	var date = new Date(timestamp);
            Y = date.getFullYear() + '-';
            M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            D = (date.getDate()<10?'0'+(date.getDate()):date.getDate()) + ' ';
            h = (date.getHours()<10?'0'+(date.getHours()):date.getHours()) + ':';
            m = (date.getMinutes()<10?'0'+(date.getMinutes()):date.getMinutes())+':';
            s = (date.getSeconds()<10?'0'+(date.getSeconds()):date.getSeconds());
            return Y+M+D+h+m+s;
        }
    </script>
</body>

</html>